POSTGRES_USER=francenuage
POSTGRES_PASSWORD=francenuage
POSTGRES_DB=controlplane

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

SPICEDB_PRESHARED_KEY=francenuage

STRIPE_SECRET_KEY=sk_test_XXXXXXXX
